
html{
	scroll-behavior: smooth;
}

#body{
	
	background-color: #E0E0E0;
}

#main1{
	
	background-color: #E0E0E0;
}

#main2{
	background-color: #E0E0E0;
}

#main-mern{
	background-color: #E0E0E0;
}

#footer{
	background-color: #263238;
}
#tools-id{
	background-color: #E0E0E0;
}

#tools > div > img{

max-height: 80px;

}

.fa-icons {
	font-size: 2rem;
}

#footer {
	background-color: #E0E0E0;	
}

#gmap_canvas {
	height: 80vh;
	width: 100%;
}